<div>
    <div> Hi, <%=email%> </div>
    <br>
    <br>
    <div style="font-size: 16px; font-weight: 600;"> You are receiving this email because you (or someone else) have requested the reset of the password for your account.</div>
    <br>
    <div>Please click on the following link, or paste this into your browser to complete the process:</div><br>
    <hr>
    <a href="<%= actionUrl %>"> Click 
        here to reset</a>
    <div>If you did not request this, please ignore this email and your password will remain unchanged.</div>
    <hr>
</div>