<div>
    <div> Hi, <%=email%> </div>
    <br>
    <br>
    <div style="font-size: 16px; font-weight: 600;"> You are receiving this email because your request for Report is Approved and Bill for Report.</div>
    <br>
    <div>Please Find Attachment for Invoice</div><br>
    <div>Thank you</div>
    <hr>
</div>