<div>
    <div> “ Dear User, </div>
    <br>
    <br>
    <br>
    <div>
        <span>This  Mail is to Inform  You that Your uploaded file <%= fileName %> has been rejected"
        </span>
    </div>
    <br>
    </div>